.header{
    background-color:rgb(32, 102, 59);
}
.container{
    padding:40px;
  
}
.hinh{
    float:right;
    padding:10px;
  width:200px;
    
}
.nav-link{
    padding-left:30px;
    font-size:20px;
    color:white
}

#searchInput{   
    border-radius:50px;
    width: 250px;
    height:40px;
}